body {
    font-family: sans-serif;
    background-color: rgb(17,17,17);
}
h1, h2, h3, h4, h5, h6, Div {
    color: lightblue;
}

a{
    color: magenta;
}

#timeline {
    color: pink;
}

.divBorder{
    position: absolute;
    top: 70px;
    outline: solid;
    outline-offset: 3px;
    outline-color: lightblue;
    outline-width: 2px;
    border-width: 2px;
    border-color: lightblue;
    width: 80%;
    
}
